html {
	background-color: #66FFCC;
	font-family: 'Droid Sans';
}
button {
	margin-left:10px;
}
.tweet-section {
	/*position: relative;*/
	/*top: 0;*/
	/*bottom: 0;*/
	/*width: 1000px;*/
	/*width: 50%;*/
	/*overflow: scroll;*/
	float: left;
}
.tweet-card {
	/*background-color: white;*/
	background-color: #99FFFF;
	border-radius: 10px;
	border: 2ppx solid black;
	text-align: center;
	display: float;
	padding: 2px;
	margin: 10px;
}
.timestamp {
	font-size: 12px;
	font-style: Helvetica;
}
.tweet-text{
	display: inline;
	padding: 2px;
	margin-left: 5px;
	margin-right:5px;
	margin-bottom: 10px;
	/*padding-bottom: 10px;*/
	font-size: 14px;
}
.tweet-user {
	color: #000099;
	text-align: left;
	margin-left: 5px;
	font-size: 18px;
}

.tweet-user:hover {
	color: #FF1975;
}
